
<div class="row" @list>
  <div class="left" @items>
    <mat-form-field>
      <mat-select [(value)]="planSelected" (selectionChange)="updateSelectedPlan($event.value)">
        <mat-option *ngFor="let plan of plans" value="{{plan.key}}">{{plan.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="center">{{title}}</div>

  <div class="right">


    <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="onMobile" [disableRipple]="true">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>print</mat-icon>
        <span>Print</span>
      </button>
      <button mat-menu-item>
        <mat-icon aria-label="Download button with a arrow icon">save_alt</mat-icon>
        <span>Save as PDF</span>
      </button>
    </mat-menu>
    <div *ngIf="!onMobile">
      <button mat-icon-button>
        <mat-icon aria-label="Print button with a print icon"> print</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon aria-label="Download button with a arrow icon">save_alt</mat-icon>
      </button>
    </div>



    <!--<ng-container ngTemplateOutlet="exportbuttons"></ng-container>-->






  </div>
</div>

