
<div class="subTabs-canvas">
  <div *ngIf="genres">
    <mat-tab-group (selectedTabChange)="updateGenre($event);"
                   [(selectedIndex)]="selectedIndex"
                   [disableRipple]="true"
                   class="subTabs" id="subTabs">
      <mat-tab *ngFor="let genre of genres"
               aria-label="{{genre.name}}"
               label="{{genre.name}}">
      </mat-tab>
    </mat-tab-group>
  </div>
</div>



