<!--<p>-->
  <!--categories works!-->
<!--</p>-->
<!--&lt;!&ndash;<h1 (click)="altGenres()">Change</h1>&ndash;&gt;-->

<!--<table>-->
  <!--<td *ngFor="let category of categories" (click)="updateCategory(category.key)"> {{category.name}} |-->
  <!--</td>-->
<!--</table>-->
<!--<div (swipeleft)="swipe(selectedIndex, $event)" (swiperight)="swipe(selectedIndex, $event)">-->
<div class="mainTabs-canvas">
  <mat-tab-group (selectedTabChange)="getCategory($event); updateCategory($event.tab.ariaLabel)"
                 [(selectedIndex)]="selectedIndex" onwheel="onScroll($event)"
                 class="mainTabs">
    <mat-tab *ngFor="let category of categories" aria-label="{{category.name}}" label="{{category.name}}">
    </mat-tab>
  </mat-tab-group>
  <div id="stickySearch" *ngIf="!searchOpen">
    <button mat-icon-button (click)="searchOpen = !searchOpen">
      <mat-icon aria-label="Search icon">search</mat-icon>
    </button>
  </div>
</div>
<!--</div>-->



<div *ngIf="searchOpen" class="search_canvas" [@search]="searchOpen ? 'open' : 'closed'">
  <div class="search_container" [class.is-visible]="searchOpen">
    <button mat-icon-button class="back_btn" (click)="searchOpen = !searchOpen">
      <mat-icon aria-label="Back icon">arrow_back</mat-icon>
    </button>
    <mat-form-field class="search_field">
      <input matInput #query placeholder="Search genre, artist or category" aria-autocomplete="none">
    </mat-form-field>
    <div [hidden]="query.value<=0">
    <button mat-icon-button class="cancel_btn" (click)="query.value=''">
      <mat-icon aria-label="Cancel icon">cancel</mat-icon>
    </button>
    </div>
    <button mat-icon-button class="close_btn" (click)="searchOpen = !searchOpen">
      <mat-icon aria-label="close icon">close</mat-icon>
    </button>
  </div>
</div>
