<!--<mat-grid-list #grid *ngIf="screenSize === 'xs'">-->
  <!--<mat-grid-tile-->
    <!--[colspan]="1"-->
    <!--[rowspan]="2"-->
    <!--[style.background]="green">-->
    <!--hi-->
  <!--</mat-grid-tile>-->
<!--</mat-grid-list>-->

<!--<ng-template ngIf="channels">-->
  <!--<div *ngFor="let ch of channels">-->
    <!--<mat-grid-list #grid >-->
      <!--<mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'blue'">-->
        <!--{{ch.shortdescription}}-->
      <!--</mat-grid-tile>-->
    <!--</mat-grid-list>-->
  <!--</div>-->
<!--</ng-template>-->


<div class="table_container">
<mat-grid-list #grid gutterSize="0px">

  <!--<div class="row_container" >-->
    <!--<mat-grid-tile [colspan]="10" [rowspan]="4 -rowGutter" class="ch-xs-col_1">-->
      <!--{{promos[0].text}}-->
    <!--</mat-grid-tile>-->
  <!--</div>-->
  <div *ngFor="let ch of channels">
    <!--<div *ngIf="channels.find(function(channel){return channel.genre === genreSelected;})"-->

    <div *ngIf="promos.length != 0 && channels[promos[0].position].displayname === ch.displayname" >
      <mat-grid-tile [colspan]="10" [rowspan]="4 -rowGutter" class="ch-xs promo">
        <div class="text">{{promos[0].text}}</div>
        <img src="{{promos[0].imgUrl}}">
      </mat-grid-tile>
    </div>




    <div class="row_container" >
      <mat-grid-tile [colspan]="10" [rowspan]="4 -rowGutter" class="ch-xs-col_1">
        <!--<div *ngIf="channels > 0">-->
        {{ch.displayname}}
        {{genreSelected}}
        <!--</div>-->
      </mat-grid-tile>
    </div>

  </div>

    <!--xs cols are 4, rowheight: 50-->

    <!--<div *ngIf="screenSize === 'xs'">-->

      <!--&lt;!&ndash;manual locked xs&ndash;&gt;-->

      <!--<div class="row_container locked">-->

        <!--<mat-grid-tile [colspan]="1" [rowspan]="4 -rowGutter" class="ch-xs-col_1">-->
          <!--<img class="ch-logo" src="{{channels[1].smalllogo}}"><br />-->

          <!--&lt;!&ndash;<ng-container *ngTemplateOutlet="altLongButtons; context: ch"></ng-container>&ndash;&gt;-->
        <!--</mat-grid-tile>-->

        <!--<mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'white'" class="ch-xs-col_2-number">-->
          <!--{{channels[1].siriusxm.satellite.number}}-->
        <!--</mat-grid-tile>-->

        <!--<mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="'white'"  class="ch-xs-col_2-more">-->
          <!--<button mat-icon-button class="gray_play">-->
            <!--<mat-icon>play_arrow</mat-icon>-->
          <!--</button><br />-->
        <!--</mat-grid-tile>-->

        <!--<mat-grid-tile  class="ch-xs-col_2-desc" [colspan]="3" [rowspan]="3 - rowGutter" [style.background]="'white'">-->
          <!--<div  class="ch-xs-name-row">{{channels[1].displayname}}</div> <br />-->
          <!--<div  class="ch-xs-genre-row">{{channels[1].genretitle}}</div>-->
          <!--<div  class="ch-xs-desc-row">{{channels[1].shortdescription}}, lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt <br /></div><br />-->
          <!--<div class="alert">-->
            <!--<div class="alert_icon">-->
              <!--<div class="material-icons">lock</div>-->
            <!--</div>-->
            <!--<div class="alert_text">-->
              <!--Channel not included with your {{planSelected}} subscription. <a href="#">Upgrade Now</a>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="btns">-->
            <!--<button mat-icon-button class="ch-favorite-toggle" (click)="channels[1].adultcontent = !channels[1].adultcontent" [class.favorited]="channels[1].adultcontent" [class.not-favorited]="!channels[1].adultcontent">-->
              <!--<mat-icon></mat-icon>-->
            <!--</button>-->
            <!--<button mat-icon-button class="ch-info-icon">-->
              <!--<mat-icon></mat-icon>-->
            <!--</button>-->
          <!--</div>-->
        <!--</mat-grid-tile>-->

      <!--</div>-->

      <!--&lt;!&ndash;for each channel xs&ndash;&gt;-->
      <!--<div class="row_container" *ngFor="let ch of channels"-->
           <!--[class.locked]="-->
          <!--(!ch.siriusxm.satellite.packages.SiriusXMSelect && planSelected === 'SiriusXMSelect') ||-->
          <!--(!ch.siriusxm.satellite.packages.SiriusXMSelect && planSelected === 'SiriusXMSelect') ||-->
          <!--(!ch.siriusxm.satellite.packages.siriusxmallaccess && planSelected == 'siriusxmallaccess')">-->

        <!--<mat-grid-tile [colspan]="1" [rowspan]="4 -rowGutter" class="ch-xs-col_1">-->
          <!--<img class="ch-logo" src="{{ch.smalllogo}}"><br />-->

          <!--&lt;!&ndash;<ng-container *ngTemplateOutlet="altLongButtons; context: ch"></ng-container>&ndash;&gt;-->
        <!--</mat-grid-tile>-->

        <!--<mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'white'" class="ch-xs-col_2-number">-->
          <!--{{ch.siriusxm.satellite.number}}-->
        <!--</mat-grid-tile>-->

        <!--<mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="'white'"  class="ch-xs-col_2-more">-->
          <!--<button mat-icon-button class="gray_play">-->
            <!--<mat-icon>play_arrow</mat-icon>-->
          <!--</button><br />-->
        <!--</mat-grid-tile>-->

        <!--<mat-grid-tile  class="ch-xs-col_2-desc" [colspan]="3" [rowspan]="3 - rowGutter" [style.background]="'white'">-->
          <!--<div  class="ch-xs-name-row">{{ch.displayname}}</div> <br />-->
          <!--<div  class="ch-xs-genre-row">{{ch.genretitle}}</div>-->
          <!--<div  class="ch-xs-desc-row">{{ch.shortdescription}}, lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt <br /></div><br />-->
         <!--<div class="alert">-->
           <!--<div class="alert_icon">-->
             <!--<div class="material-icons">lock</div>-->
           <!--</div>-->
           <!--<div class="alert_text">-->
             <!--Channel not included with your {{planSelected}} subscription. <a href="#">Upgrade Now</a>-->
           <!--</div>-->
         <!--</div>-->
          <!--<div class="btns">-->
            <!--<button mat-icon-button class="ch-favorite-toggle" (click)="ch.adultcontent = !ch.adultcontent" [class.favorited]="ch.adultcontent" [class.not-favorited]="!ch.adultcontent">-->
            <!--<mat-icon></mat-icon>-->
            <!--</button>-->
            <!--<button mat-icon-button class="ch-info-icon">-->
              <!--<mat-icon></mat-icon>-->
            <!--</button>-->
          <!--</div>-->
        <!--</mat-grid-tile>-->

      <!--</div>-->
    <!--</div>-->

  <!--&lt;!&ndash;sm cols are 6, rowheight: 50&ndash;&gt;-->

  <!--&lt;!&ndash;manual lock&ndash;&gt;-->

  <!--<div *ngIf="screenSize === 'sm'">-->
    <!--<div class="row_container locked">-->

      <!--<mat-grid-tile [colspan]="2" [rowspan]="5 - rowGutter" class="ch-sm-col_1">-->
        <!--<img class="ch-logo" src="{{channels[1].smalllogo}}"><br />-->
        <!--<span class="material-icons">-->
            <!--<button mat-icon-button class="ch-favorite-toggle" (click)="channels[1].adultcontent = !channels[1].adultcontent" [class.favorited]="channels[1].adultcontent" [class.not-favorited]="!channels[1].adultcontent">-->
            <!--<mat-icon></mat-icon>-->
            <!--</button>-->
          <!--</span>-->
      <!--</mat-grid-tile>-->

      <!--<mat-grid-tile [colspan]="2" [rowspan]="3" [style.background]="'white'" class="ch-sm-col_2-number">-->
        <!--{{channels[1].siriusxm.satellite.number}}-->
      <!--</mat-grid-tile>-->

      <!--<mat-grid-tile [colspan]="3" [rowspan]="3" [style.background]="'white'"  class="ch-sm-col_3-name">-->
        <!--<div class="ch-sm-name-row">{{channels[1].displayname}}</div>-->
      <!--</mat-grid-tile>-->

      <!--<mat-grid-tile [colspan]="7" [rowspan]="3" [style.background]="'white'"  class="ch-sm-col_3-desc">-->
        <!--<div class="ch-sm-genre-row">{{channels[1].genretitle}}</div>-->
        <!--<div  class="ch-sm-desc-row">{{channels[1].shortdescription}}, lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </div>-->
      <!--</mat-grid-tile>-->

      <!--<mat-grid-tile  class="ch-sm-col_2-btns" [colspan]="2" [rowspan]="3" [style.background]="'white'">-->
        <!--<ng-container *ngTemplateOutlet="longButtons"></ng-container>-->
      <!--</mat-grid-tile>-->
      <!--<mat-grid-tile [colspan]="14" [rowspan]="2 - rowGutter" class="ch-sm-alert-row">-->
        <!--<div></div>-->
        <!--<div class="alert">-->
          <!--<div class="alert_icon">-->
            <!--<div class="material-icons">lock</div>-->
          <!--</div>-->
          <!--<div class="alert_text">-->
            <!--Channel not included with your {{planSelected}} subscription. <a href="#">Upgrade Now</a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</mat-grid-tile>-->
    <!--</div>-->

    <!--&lt;!&ndash;for each channels&ndash;&gt;-->
    <!--<div class="row_container" *ngFor="let ch of channels">-->

      <!--<mat-grid-tile [colspan]="2" [rowspan]="4 - rowGutter" class="ch-sm-col_1">-->
        <!--<img class="ch-logo" src="{{ch.smalllogo}}"><br />-->
        <!--<span class="material-icons">-->
            <!--<button mat-icon-button class="ch-favorite-toggle" (click)="ch.adultcontent = !ch.adultcontent" [class.favorited]="ch.adultcontent" [class.not-favorited]="!ch.adultcontent">-->
            <!--<mat-icon></mat-icon>-->
            <!--</button>-->
          <!--</span>-->
      <!--</mat-grid-tile>-->

      <!--<mat-grid-tile [colspan]="2" [rowspan]="4 - rowGutter" [style.background]="'white'" class="ch-sm-col_2-number">-->
        <!--{{ch.siriusxm.satellite.number}}-->
      <!--</mat-grid-tile>-->

      <!--<mat-grid-tile [colspan]="3" [rowspan]="4 - rowGutter" [style.background]="'white'"  class="ch-sm-col_3-name">-->
        <!--<div class="ch-sm-name-row">{{ch.displayname}}</div>-->
      <!--</mat-grid-tile>-->

      <!--<mat-grid-tile [colspan]="7" [rowspan]="4 - rowGutter" [style.background]="'white'"  class="ch-sm-col_3-desc">-->
        <!--<div class="ch-sm-genre-row">{{ch.genretitle}}</div>-->
        <!--<div  class="ch-sm-desc-row">{{ch.shortdescription}}, lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </div>-->
      <!--</mat-grid-tile>-->

      <!--<mat-grid-tile  class="ch-sm-col_2-btns" [colspan]="2" [rowspan]="4 - rowGutter" [style.background]="'white'">-->
        <!--<ng-container *ngTemplateOutlet="longButtons"></ng-container>-->
      <!--</mat-grid-tile>-->
    <!--</div>-->
  <!--</div>-->

  <!--&lt;!&ndash;md cols are 10, rowheight: 120&ndash;&gt;-->

  <!--&lt;!&ndash;manual med locked&ndash;&gt;-->

  <!--<div *ngIf="screenSize === 'md' || screenSize === 'lg' || screenSize === 'xl'">-->
    <!--<div class="row_container locked">-->

      <!--<mat-grid-tile [colspan]="1" [rowspan]="5 - rowGutter" class="ch-md-col_1">-->
        <!--<img class="ch-logo" src="{{channels[1].smalllogo}}"><br />-->
        <!--<span class="material-icons">-->
            <!--<button mat-icon-button class="ch-favorite-toggle" (click)="channels[1].adultcontent = !channels[1].adultcontent" [class.favorited]="channels[1].adultcontent" [class.not-favorited]="!channels[1].adultcontent">-->
            <!--<mat-icon></mat-icon>-->
            <!--</button>-->
          <!--</span>-->
      <!--</mat-grid-tile>-->

      <!--<mat-grid-tile [colspan]="1" [rowspan]="3" [style.background]="'white'" class="ch-md-col_2-number">-->
        <!--{{channels[1].siriusxm.satellite.number}}-->
      <!--</mat-grid-tile>-->

      <!--<mat-grid-tile [colspan]="2" [rowspan]="3" [style.background]="'white'"  class="ch-md-col_3-name">-->
        <!--<div class="ch-md-name-row">{{channels[1].displayname}}</div>-->
      <!--</mat-grid-tile>-->

      <!--<mat-grid-tile  class="ch-md-col_2-more" [colspan]="4" [rowspan]="3" [style.background]="'white'">-->
        <!--<div class="ch-md-genre-row">{{channels[1].genretitle}}</div>-->
        <!--<div  class="ch-md-desc-row">{{channels[1].shortdescription}}, lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </div>-->
      <!--</mat-grid-tile>-->

      <!--<mat-grid-tile  class="ch-md-col_2-longButtons" [colspan]="2" [rowspan]="3" [style.background]="'white'">-->
        <!--<ng-container *ngTemplateOutlet="longButtons"></ng-container>-->
      <!--</mat-grid-tile>-->
      <!--<mat-grid-tile [colspan]="9" [rowspan]="2 - rowGutter" class="ch-md-alert-row">-->
        <!--<div></div>-->
        <!--<div class="alert">-->
          <!--<div class="alert_icon">-->
            <!--<div class="material-icons">lock</div>-->
          <!--</div>-->
          <!--<div class="alert_text">-->
            <!--Channel not included with your {{planSelected}} subscription. <a href="#">Upgrade Now</a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</mat-grid-tile>-->
    <!--</div>-->

    <!--&lt;!&ndash;for each row  med&ndash;&gt;-->

    <!--<div class="row_container" *ngFor="let ch of channels">-->

      <!--<mat-grid-tile [colspan]="1" [rowspan]="4 - rowGutter" class="ch-md-col_1">-->
        <!--<img class="ch-logo" src="{{ch.smalllogo}}"><br />-->
        <!--<span class="material-icons">-->
            <!--<button mat-icon-button class="ch-favorite-toggle" (click)="ch.adultcontent = !ch.adultcontent" [class.favorited]="ch.adultcontent" [class.not-favorited]="!ch.adultcontent">-->
            <!--<mat-icon></mat-icon>-->
            <!--</button>-->
          <!--</span>-->
      <!--</mat-grid-tile>-->

      <!--<mat-grid-tile [colspan]="1" [rowspan]="4 - rowGutter" [style.background]="'white'" class="ch-md-col_2-number">-->
        <!--{{ch.siriusxm.satellite.number}}-->
      <!--</mat-grid-tile>-->

      <!--<mat-grid-tile [colspan]="2" [rowspan]="4 - rowGutter" [style.background]="'white'"  class="ch-md-col_3-name">-->
        <!--<div class="ch-md-name-row">{{ch.displayname}}</div>-->
      <!--</mat-grid-tile>-->

      <!--<mat-grid-tile  class="ch-md-col_2-more" [colspan]="4" [rowspan]="4 - rowGutter" [style.background]="'white'">-->
        <!--<div class="ch-md-genre-row">{{ch.genretitle}}</div>-->
        <!--<div  class="ch-md-desc-row">{{ch.shortdescription}}, lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </div>-->
      <!--</mat-grid-tile>-->

      <!--<mat-grid-tile  class="ch-md-col_2-longButtons" [colspan]="2" [rowspan]="4 - rowGutter" [style.background]="'white'">-->
        <!--<ng-container *ngTemplateOutlet="longButtons"></ng-container>-->
      <!--</mat-grid-tile>-->
    <!--</div>-->
  <!--</div>-->


</mat-grid-list>
</div>

<!--<mat-grid-list cols="4" rowHeight="100px" *ngIf="screenSize === 'xs'">-->
  <!--<mat-grid-tile-->
    <!--[colspan]="1"-->
    <!--[rowspan]="2"-->
    <!--[style.background]="green">-->
    <!--hi-->
  <!--</mat-grid-tile>  <mat-grid-tile-->
  <!--[colspan]="1"-->
  <!--[rowspan]="2"-->
  <!--[style.background-color]="'black'">-->
  <!--hi-->
<!--</mat-grid-tile>-->
  <!--<mat-grid-tile>2</mat-grid-tile>-->
  <!--<mat-grid-tile>3</mat-grid-tile>-->
  <!--<mat-grid-tile>xs</mat-grid-tile>-->
<!--</mat-grid-list>-->
<!--<mat-grid-list #grid *ngIf="screenSize === 'sm'">-->
  <!--<mat-grid-tile>1</mat-grid-tile>-->
  <!--<mat-grid-tile>2</mat-grid-tile>-->
  <!--<mat-grid-tile>3</mat-grid-tile>-->
  <!--<mat-grid-tile>4</mat-grid-tile>-->
  <!--<mat-grid-tile>4</mat-grid-tile>-->
  <!--<mat-grid-tile>sm</mat-grid-tile>-->
<!--</mat-grid-list>-->

<!--<mat-grid-list #grid *ngIf="screenSize === 'med'">-->
  <!--<mat-grid-tile>1</mat-grid-tile>-->
  <!--<mat-grid-tile>2</mat-grid-tile>-->
  <!--<mat-grid-tile>3</mat-grid-tile>-->
  <!--<mat-grid-tile>4</mat-grid-tile>-->
  <!--<mat-grid-tile>4</mat-grid-tile>-->
  <!--<mat-grid-tile>4</mat-grid-tile>-->
  <!--<mat-grid-tile>4</mat-grid-tile>-->
  <!--<mat-grid-tile>med</mat-grid-tile>-->
<!--</mat-grid-list>-->

<!--<mat-grid-list #grid *ngIf="screenSize === 'lg'">-->
  <!--<mat-grid-tile>1</mat-grid-tile>-->
  <!--<mat-grid-tile>2</mat-grid-tile>-->
  <!--<mat-grid-tile>3</mat-grid-tile>-->
  <!--<mat-grid-tile>4</mat-grid-tile>-->
  <!--<mat-grid-tile>4</mat-grid-tile>-->
  <!--<mat-grid-tile>4</mat-grid-tile>-->
  <!--<mat-grid-tile>4</mat-grid-tile>-->
  <!--<mat-grid-tile>lg</mat-grid-tile>-->
<!--</mat-grid-list>-->

<!--<mat-grid-list #grid>-->
  <!--<mat-grid-tile>1</mat-grid-tile>-->
  <!--<mat-grid-tile>2</mat-grid-tile>-->
  <!--<mat-grid-tile>3</mat-grid-tile>-->
  <!--<mat-grid-tile>4</mat-grid-tile>-->
  <!--<mat-grid-tile *ngIf="screenSize >= 'sm'">5</mat-grid-tile>-->
  <!--<mat-grid-tile *ngIf="screenSize >= 'sm'">6</mat-grid-tile>-->
  <!--<mat-grid-tile *ngIf="screenSize >= 'md'">7</mat-grid-tile>-->
  <!--<mat-grid-tile *ngIf="screenSize >= 'md'">8</mat-grid-tile>-->
  <!--<mat-grid-tile *ngIf="screenSize >= 'lg'">9</mat-grid-tile>-->
  <!--<mat-grid-tile *ngIf="screenSize >= 'lg'">10</mat-grid-tile>-->
  <!--<mat-grid-tile *ngIf="screenSize >= 'lg'">11</mat-grid-tile>-->
  <!--<mat-grid-tile *ngIf="screenSize >= 'lg'">12</mat-grid-tile>-->
<!--</mat-grid-list>-->

<!--<div class="table_container">-->
  <!---->
<!--<div *ngFor="let ch of channels"-->
     <!--class="row_container"-->
     <!--[class.locked]="-->
          <!--(!ch.siriusxm.satellite.packages.SiriusXMSelect && planSelected === 'SiriusXMSelect') ||-->
          <!--(!ch.siriusxm.satellite.packages.SiriusXMSelect && planSelected === 'SiriusXMSelect') ||-->
          <!--(!ch.siriusxm.satellite.packages.siriusxmallaccess && planSelected == 'siriusxmallaccess')">-->
  <!---->
  <!---->
  <!--<div class="row_section__1">-->
    <!--<img src="{{ch.smalllogo}}"><br />-->
    <!--<span class="material-icons">-->
      <!--<button mat-icon-button class="favorite-toggle" (click)="ch.adultcontent = !ch.adultcontent" [class.favorited]="ch.adultcontent" [class.not-favorited]="!ch.adultcontent">-->
        <!--<mat-icon></mat-icon>-->
      <!--</button>-->
    <!--</span>-->
  <!--</div>-->

  <!--<div class="row_section__2">-->
    <!--{{ch.siriusxm.satellite.number}}<br />-->
  <!--</div>-->

  <!--<div class="row_section__2 tool_tip">-->
    <!--<button mat-icon-button>-->
      <!--<mat-icon>help_outline</mat-icon>-->
    <!--</button>-->
    <!--<br />-->
    <!--<span class="tool_tip__text">Set radio to see ch</span>-->
  <!--</div>-->

  <!--<div class="row_section__3">-->
    <!--{{ch.displayname}}-->
  <!--</div>-->

  <!--<div class="row_section__4">-->
    <!--<span class="prog_type">{{ch.progtypetitle | uppercase}} </span>-->
    <!--<br />-->
    <!--{{ch.shortdescription}}-->
    <!--<div class="alert"><span class="material-icons"></span></div>-->
    <!--<div *ngIf="onMobile" class="expanding-menu">-->
      <!--<button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="onMobile" [disableRipple]="true">-->
        <!--<mat-icon>more_vert</mat-icon>-->
      <!--</button>-->
    <!--</div>-->
  <!--</div>-->


  <!--<div class="row_section__5" *ngIf="!onMobile">-->
    <!--<button mat-icon-button>-->
      <!--<mat-icon>add_circle</mat-icon>-->
    <!--</button>-->

    <!--<button mat-icon-button class="gray_play">-->
      <!--<mat-icon>play_arrow</mat-icon>-->
    <!--</button>-->


    <!--<button mat-icon-button>-->
      <!--<mat-icon>info</mat-icon>-->
    <!--</button>-->
    <!--<button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="onMobile" [disableRipple]="true">-->
      <!--<mat-icon>more_vert</mat-icon>-->
    <!--</button>-->

  <!--</div>-->
<!--</div>-->

<!--</div>-->

<ng-template #alert>
  <mat-icon>lock</mat-icon> Channel not included with you {{planSelected}} subscription. <a href="#">Upgrade Now</a>
</ng-template>


<ng-template #chNumber let-displayname="displayname">
  <div class="ch-xs-name-row">{{displayname}}</div>
</ng-template>

<ng-template #altLongButtons let-favorite="favorite">
  <span class="material-icons">
            <button mat-icon-button
                    class="ch-favorite-toggle"
                    (click)="ch.favorite = !ch.favorite"
                    [class.favorited]="ch.favorite"
                    [class.not-favorited]="!ch.favorite">
            <mat-icon></mat-icon>
            </button>
          </span>
  <button mat-icon-button>
    <mat-icon>info_circle</mat-icon>
  </button>
</ng-template>

<ng-template #longButtons>
  <button mat-icon-button>
    <mat-icon>info_circle</mat-icon>
  </button>
  <button mat-icon-button class="gray_play">
    <mat-icon>play_arrow</mat-icon>
  </button>
  <!--<button mat-icon-button>-->
    <!--<mat-icon>add_circle</mat-icon>-->
  <!--</button>-->
</ng-template>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>print</mat-icon>
    <span>Print</span>
  </button>
  <button mat-menu-item>
    <mat-icon aria-label="Download button with a arrow icon">save_alt</mat-icon>
    <span>Save as PDF</span>
  </button>
</mat-menu>
