
    <form class="external_form">
      <mat-form-field>
        <mat-select [(value)]="planSelected" (selectionChange)="updateSelectedPlan($event.value)">
          <mat-option *ngFor="let plan of plans" value="{{plan.key}}">{{plan.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <div class="note">
    <div style="font-size: 20px;"><span style="font-weight: 500">Category:</span> {{category}}<br /><br /></div>
    <span style="font-weight: 500">Genre:</span> {{genre}} <br />
    </div>
