<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <cg-btn-row></cg-btn-row>
</div>

<div class="cg-container">
  <cg-menu></cg-menu>
  <cg-categories></cg-categories>
  <cg-genres></cg-genres>
  <cg-channels></cg-channels>
</div>


<router-outlet></router-outlet>
