/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@import "theme_variables";
@import "custom_variables";
@import url("https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');

@include mat-core();


@mixin global-theme($theme){
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
}
$dark-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);
$light-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

//@include global-theme(mat-dark-theme($app-primary, $app-accent, $app-warn));
@include angular-material-theme($dark-theme);

.light-theme {
  @include angular-material-theme($light-theme);
}

@mixin menu-row($top-space, $title-offset, $side-margin, $title-size:20px, $select-size: 14px) {
  color: white;
  display: flex;
  width:100%;
  justify-content: space-evenly;
  align-items: baseline;
  background-color: $navy;
  * {                             width: calc(#{100%} / 3);}
  mat-menu{                       display: none;}
  .center {
    top: calc(#{$top-space} + #{$title-offset});
    letter-spacing: 2px;
    font-variant: all-small-caps;
    opacity: .7;
    text-align: center;
    font-size: $title-size;
    //margin-left: auto;
    //margin-right: auto;
  }
  .left {
    display: inline-flex;
    justify-content: flex-start;
    margin-left: $side-margin;
    * { margin-right: auto;}
    .mat-form-field-underline {     display: none;}
    .mat-form-field-infix {           width: 100%;}
    .mat-select-value-text {
      width: 100%;
      * {
        font-size: $select-size;
        font-weight: 100;
        letter-spacing: 1px;
      }
    }
    .mat-select-value {
      //margin-left: $side-margin;
      line-height: $select-size;
      max-width: 100%;
      width: fit-content;
      display: inline-flex;
    }

  }
  .right {
    margin-left: auto;
    display: inline-flex;
    margin-right: $side-margin;
    justify-content: flex-end;
    color: white;
    * {                       width: fit-content; padding-left: 4px;}
    .mat-icon-button{         opacity: .7;
      &:hover{                opacity: 1;}
    }
  }
}

//$top-space, $title-offset, $side-margin, $title-size:20px, $select-size: 14px
.row {              @include menu-row(20px,4px,15px,20px,14px);}





@mixin pagination($side, $tab-background: $background-gray, $ink-bar-height: 2px){
  position: absolute;
  top: 0;
  height: calc(100% - 4px);
  background: transparent linear-gradient(to $side,
    rgba($tab-background, 0),
    rgba($tab-background, 0),
    rgba($tab-background, .1),
    rgba($tab-background, .3),
    rgba($tab-background, .4),
    rgba($tab-background, .7),
    $tab-background,
    $tab-background);
  box-shadow: none;
  .mat-tab-header-pagination-chevron {    display: none;}
}


* {                             font-family: GothamPro, sans-serif;}


body {
  font-weight: 300;
  margin: 0;
  overflow: -webkit-paged-y;
  overflow-x: hidden;
  background-color: $background-gray;
  a {
    text-decoration: none;
    color: inherit;
    & :visited {
      text-decoration: none;
      color: inherit;
    }
  }
  & * {                         font-weight: 300;}
}

/deep/ .md-tab-label {
  min-width: 0px; /* Or whatever value you wish */
  /* In some situations !important seems necessary */
}

@each $size in 'xs' 'sm' 'md' 'lg' 'xl' {
  .ch-#{$size}-col_1,
  .ch-#{$size}-col_2-number {text-align: center;}

  .ch-#{$size}-col_1 {background-color: lightgray;}
  .ch-#{$size}-col_1,
  .ch-#{$size}-col_3-name,
  .ch-#{$size}-col_2-more {
    .mat-figure {
      display: inherit !important;
      padding-top: 10px !important;
    }
  }
  .ch-#{$size}-genre-row{
    text-align: left;
    font-variant: all-petite-caps;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
  }
  .ch-xs-col_2-number,
  .ch-xs-col_2-desc, .ch-sm-desc-row {
    .mat-figure {
      text-align: left;
      display: inherit !important;
      padding-left: 30px !important;
    }
  }
  .ch-#{$size}-desc-row {
    text-align: left;
  }
  .ch-#{$size}-col_2-number,
  .ch-#{$size}-col_3-desc,
  .ch-#{$size}-col_3-name {
    .mat-figure {
      display: inherit !important;
      padding-top: 20px !important;
    }
  }
  .ch-#{$size}-col_2-add {
    .mat-figure {
      display: inherit !important;
    }
  }
  .ch-#{$size}-col_3-name {
    text-align: left;
  }
  .ch-#{$size}-col_2-more, .ch-sm-col_2-add { text-align: right;}
  .ch-#{$size}-name-row{
    font-weight: 600;
  }
  .ch-xs-col_2-desc{
    .mat-figure{
      height: calc(100% - #{10px}) !important;
      overflow: scroll;
    }

  }
  .ch-xs-col_2-number, .ch-xs-name-row{
    font-size: 22px;
  }
  .ch-xs-name-row{}
  .ch-xs-name-row{
    //padding-bottom: 3px;
    padding-top: 10px;
  }
  .ch-#{$size}-desc-row {
    padding-top: 10px;
    font-size: 12px;
    line-height:20px;
  }

  .locked {
    & * :not(.alert *) {
      opacity: .7 !important;
      background-color: white;
    }
    .btns{
      display: none;
    }
    .ch-xs-col_2-desc{
      .mat-figure{
        .alert{
          opacity: 1 !important;
        }
      }
    }
    .alert {
      display: inherit;
      opacity: 1 !important;
    }
    .ch-#{$size}-alert-row{
      .mat-figure{
        opacity: 1 !important;
        * {
          opacity: 1 !important;
        }
      }

    }
  }
}

.alert {
  display: none;
}

.ch-xs-col_2-desc{
  .mat-figure{
    margin-right: 20px !important;
    .material-icons{
      margin-left: -8px !important;
    }
  }
}
.ch-xs-col_2-more{
  .mat-figure{
    margin-right: 20px !important;
    margin-top: 5px !important;
  }
}

.gray_play{
  //background-color: lightgray;
  border: 1px solid black !important;
  height: 55px;
  width: 55px;
  line-height: 35px !important;
}

.not-favorited {           mat-icon::after {    content: 'star_outline';} }
.favorited {                mat-icon::after {   content: 'star';} }
.ch-info-icon {                mat-icon::after {   content: 'info_circle';} }


.expanding-menu {
  position: absolute;
  right: 5px;
}

.cg-container {
  resize: both;
}

.mat-ripple-element{
  position: absolute;
}

.table_container {
  padding-top: 10px;
  //background-color: $background-gray;
  //resize: both;
  position: absolute;
  z-index: 10;
  height: 500px;
  overflow: scroll;
  width: calc(85% + 10px);

  .ch-info-icon {
    mat-icon {
      ::after {
        content: 'info_circle';
      }
    }
  }
}





//background: bisque;


.row_container{
  .row_parent{
    margin-bottom: 10px;
  }
  width: 100%;
  //margin: 10px;
  background-color: white;
  //height: 150px;

}



.ch-sm-alert-row, .ch-md-alert-row{
  background-color: white;
  .alert{
    width: 100%;
    margin: 5px 15px;
  }
}

.alert{
  background-color: red;
  padding: 10px;
  background-color: rgba(255,4,0, .1);
  border-left: 3px solid red;
  .alert_icon{
    display: table-cell;
    vertical-align: middle;
    padding-left: 8px;
  }
  .alert_text{
    display: table-cell;
    font-size: 12px;
    padding: 5px 10px;
    a {
      color: dodgerblue;
      font-weight: 600;
    }
  }
}



@mixin tabs-styling($background-color, $size, $font-weight, $ink-bar-height, $side-margin: $side-space, $search-space: 0px, $tab-spacing: 15px){

  //.mat-tab-list {transform: none !important;}

  .mat-tab-label.mat-ripple,  .mat-ripple-element { background-color: rgba($background-color, .5) !important;}
  .mat-tab-label{
    font-size: $size;
    //padding: 0 $tab-spacing;
    padding-left: $tab-spacing;
    padding-right: $tab-spacing;
    min-width: 0px;
    letter-spacing: 1px;
  }
  .mat-tab-label-content {      font-weight: $font-weight;}
  .mat-tab-labels{
    justify-content: center;
    background-color: $background-color;
    padding: 0 $side-margin;
  }
  height: 48px !important;
  .mat-tab-label-active{        opacity: 1;}
  .mat-tab-header {             border-bottom: none;}
  .mat-ink-bar{                 height: $ink-bar-height;
    background-color: $ink-bar-blue !important;}
  .mat-tab-header-pagination {  position: absolute !important;}
  .mat-tab-header {             margin-right: $search-space}

  .mat-tab-header-pagination-after{
    @include pagination(right, $background-color, $ink-bar-height);
    right: 0;
  }
  .mat-tab-header-pagination-before{
    @include pagination(left, $background-color, $ink-bar-height);
    left: 0;
  }
  .mat-tab-label-container {

    -webkit-overflow-scrolling: touch;
    overflow-x: scroll !important;
    &::-webkit-scrollbar {
      display: none !important;
    }
  }
}

.mainTabs-canvas{ background-color: $navy;
  width: 100%}
.mainTabs{
  @include tabs-styling($navy, 28px, 300, 4px, $tab-spacing: 20px);
}

.subTabs-canvas{ background-color: $lt_navy;
  width: 100%}
.subTabs{
  @include tabs-styling($lt_navy, 15px, 200, 4px);
}
$distance: calc((100% - 1275px)/2);
#stickySearch{
  right: calc(8.3% - 10px);
  top: 290px;
  position: absolute;
  //right: $distance;
  //top: 56px;
  z-index: 12;
  font-size: 55px;
  color: white;
  //background: $navy;
  & *{
    font-size: .8em;
  }
}

//$menu-height: 150px;
//$search-height: 120px;
//$search-form-line-height: 30px;
//$search-close-btn-width: $search-form-line-height;
//$search-form-side-space: calc(#{$search-close-btn-width} * 2);
//$search-form-width: 400px;
//$search-form-height: calc(#{$search-height}/3);
//$search-form-border-height-offset: 20px;
//$search-form-position-top: calc(#{$search-height} + #{$search-form-border-height-offset});
//$search-close-btn-position-top: calc(#{$search-height}/2.5);
//$search-close-btn-position-left: calc(#{100%}/2 + #{$search-form-width}/2.3);

$menu-height: 162px;

@mixin search-canvas($top-position, $background-color, $height){
  position: absolute;
  top: calc(#{$top-position} + #{162px});
  background-color: $background-color;
  height: $height;
  z-index: 11;
  width: calc(85% + 10px);
  animation: ease-in;

}

@mixin search-container($menu-height: 150px,
      $search-height: 300px,
      $search-form-line-height: 30px,
      $search-close-btn-width: $search-form-line-height,
      $search-form-side-space: calc(#{$search-close-btn-width} * 2),
      $search-form-width: 400px,
      $search-form-height: calc(#{$search-height}/3),
      $search-form-border-height-offset: 30px,
      $search-form-position-top: calc(#{$search-height}/2 - #{$search-form-height} - #{$search-form-border-height-offset}),
      $search-close-btn-position-top: calc(#{$search-height} - (.76 * #{ $search-height})),
      $search-close-btn-position-left: calc(#{100%}/2 + #{$search-form-width}/2.3)){
  .mat-form-field-wrapper{
    font-size: $search-form-line-height;
    position: absolute;
    left: calc(#{100%}/2 - (#{$search-form-width} + #{$search-close-btn-width})/2);
    //top: calc(#{$search-height}/2.7 - #{$search-form-border-height-offset});
    top: $search-form-position-top;
  }
  .mat-form-field-infix{                          width: $search-form-width;
    color:white !important;}
  .mat-form-field{                                padding-right: calc(#{$search-form-side-space}/2);}

  .mat-form-field-label,
  .mat-form-field-subscript-wrapper,
  .mat-form-field-ripple,
  .mat-form-field-underline{                      color: white !important;}

  .mat-form-field-ripple{                         background-color: white !important;}
  .mat-form-field-underline{                      width: calc(#{100%} + #{$search-close-btn-width});}
  button {
    color: white;
    position: absolute;
    &.back_btn{
      right: calc(#{$search-close-btn-position-left} + 70px;
      top: $search-close-btn-position-top;
    }
    &.cancel_btn{
      left: $search-close-btn-position-left;
      top: $search-close-btn-position-top;
      opacity: .8;
    }
    &.close_btn{
      opacity: .8;
      right: 10px;
      top: 10px;
    }


  }
}

.search_canvas {            @include search-canvas(70px, $cerulean-violet, $menu-height);}
.search_container{          text-align: center;
  @include search-container($search-form-width: 600px);
}

@mixin search-styling($height: 120px, $background: $ink-bar-blue, $top-space: 150px) {
  .search_modal {
    width: calc(85% + 10px);
    position: absolute;
    text-align: center;
    background-color: black;
    color: white;
    height: $height;
    font-size: 1.5em;
    z-index: 100;
    top: $top-space;
    .search_container{
      background-color: $background;
    }
  }
}
.external_form {
  .mat-form-field {
    * {
      color: black;
    }
    .mat-form-field-underline {
      background-color: black;
    }
  }
}

mat-tab-group{
  height: auto !important;
}

.note {
  max-width: 335px;
  text-align: left;
  margin: 10px auto;
  outline: 1px dotted deepskyblue;
  padding: 10px;
}

//$top-space, $title-offset, $side-margin, $title-size:20px, $select-size: 14px
$xl-menu-args: 10px,6px,15px,18px,15px;
$xl-mainTab-args: $navy, 28px, 300, 4px, 30px, 40px;

@media (max-width: 1400px) {

  .mainTabs {
    @include tabs-styling($tab-spacing: 20px, $xl-mainTab-args...);
    height: 48px !important;
  }

  .row {                        @include menu-row($xl-menu-args...);}
}

@media (max-width: 1024px) {
  .search_container {
    @include search-container( $search-height: 380px, $search-form-line-height: 20px,
    $search-close-btn-position-top: #{39%}
    )
  }
}
@media (max-width: 910px) {


}

@media (max-width: 768px) {
}
@media (max-width: 414px) {
.mat-form-field-wrapper{
  font-size: 18px;
  position: absolute;
  left: -150px;
  max-width: inherit;
}

}
@media (max-width: 375px) {

}

